<ion-content [fullscreen]="true">
  <div class="mx-auto w-96 py-4">
    <ion-grid class="p-0">
      <ion-row>
        <ion-avatar class="mx-auto my-8 h-36 w-36">
          <img class="h-36 w-36" [src]="profileImage | async"
               alt="users avatar">
        </ion-avatar>
      </ion-row>
      <ion-row>
        <ion-grid class="p-0">
          <ion-row>
            <ion-text color="secondary" class="text-2xl">{{ "settings.profile.title" | translate }}</ion-text>
          </ion-row>
          <ion-row>
            <ion-text color="secondary" class="text-sm">{{ "settings.profile.description" | translate }}
            </ion-text>
          </ion-row>
          <ion-row>
            <div class="flex flex-col w-full my-1">
              <ion-text id="labelName"
                        color="secondary"
                        class="opacity-80">{{ "settings.profile.name" | translate }}</ion-text>
              <ion-input type="text"
                         color="secondary"
                         class="border border-1 rounded-md"
                         aria-labelledby="labelName"
                         [value]="name | async"
                         (ionChange)="setName($event.target.value)"></ion-input>
            </div>
          </ion-row>
          <ion-row>
            <div class="flex flex-col w-full my-1">
              <ion-text id="labelBirthdate"
                        color="secondary"
                        class="opacity-80">{{ "settings.profile.birthdate" | translate }}</ion-text>
              <ion-input type="date"
                         color="secondary"
                         class="border border-1 rounded-md"
                         aria-labelledby="labelBirthdate"
                         (ionChange)="setBirthdate()"></ion-input>
            </div>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
    <ion-button color="secondary" expand="block" [disabled]="!hasChangedSomething">
      <ion-icon name="save" class="mr-2"></ion-icon>
      <ion-text>{{ "settings.save" | translate }}</ion-text>
    </ion-button>
  </div>
</ion-content>
