ion-button {
  --box-shadow: 0px;
  --border-radius: 6px;

  height: 3rem;
  margin: 0;
}

ion-tab-bar {
  background: white;
  margin: 1rem;
  border-radius: 4px;
  padding: .5rem;
}

.picker-button.sc-ion-picker-md, .picker-button.ion-activated.sc-ion-picker-md {
  font-weight: bold;
  color: var(--ion-color-secondary);
}

.picker-opt.picker-opt-selected {
  font-weight: bold;
  color: var(--ion-color-secondary);
}

ion-tab-button {
  background: transparent;

  &:not(.tab-selected) {
    opacity: 0.5;
  }

  &.tab-selected {
    position: relative;
    color: var(--ion-color-secondary);

    &:after {
      $indicatorWidth: 16px;
      $indicatorHeight: 4px;

      content: "";
      background: var(--ion-color-secondary);
      position: absolute;
      bottom: 0;
      left: calc(50% - calc(#{$indicatorWidth} / 2));
      width: $indicatorWidth; height: $indicatorHeight;
      transform: translateY(2px);
      border-radius: 5px;
    }

    .icon {
      animation: iconAnimation 500ms;
      animation-timing-function: ease-in-out;
    }
  }
}

ion-item {
  --border-color: transparent;
}

ion-input:not(.ng-untouched).ng-invalid {
  border-color: var(--ion-color-danger);
}

ion-chip {
  // activated chip
  &.ion-color-secondary:not(.chip-outline) {
    background: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
  }

  // non-activated chip
  &.ion-color-secondary.chip-outline {
    border-width: 1px;
    border-color: var(--ion-color-secondary);
  }
}

@keyframes iconAnimation {
  $degree: 10deg;

  0% {
    rotate: 0deg;
  }
  20% {
    rotate: $degree;
  }
  60% {
    rotate: -$degree;
  }
  80% {
    rotate: 0deg;
  }
}
