<article class="text-md">
  <ion-chip
    *ngFor="let time of dosageInstruction.timing.repeat.timeOfDay"
    color="secondary"
  >
    {{ time.split(":")[0] + ":" + time.split(":")[1] }}
  </ion-chip>
  <ng-container
    *ngIf="
      dosageInstruction.timing.repeat.dayOfWeek.length === 7;
      else renderDays
    "
  >
    <ion-chip color="secondary" [outline]="true">{{
      "daily" | translate
    }}</ion-chip>
  </ng-container>
  <ng-template #renderDays>
    <ion-chip
      *ngFor="let day of dosageInstruction.timing.repeat.dayOfWeek"
      color="secondary"
      [outline]="true"
    >
      {{ "fhir." + day | translate }}
    </ion-chip>
  </ng-template>
</article>
