<ion-content [fullscreen]="true">
  <div class="m-4 rounded-sm shadow-lg bg-card-background">
    <ion-grid>
      <ion-row>
        <mukosoft-heading>
          {{ "medication-creation.title" | translate }}</mukosoft-heading
        >
      </ion-row>
      <ion-row>
        <mukosoft-text>
          {{ "medication-creation.text" | translate }}</mukosoft-text
        >
      </ion-row>
      <ion-col class="p-0">
        <mukosoft-label>Name</mukosoft-label>
        <mukosoft-input
          [formControl]="formGroup.controls.name"
          ngDefaultControl
        ></mukosoft-input>
      </ion-col>
      <ion-row>
        <ion-col class="p-0 mr-1">
          <mukosoft-label>Menge</mukosoft-label>
          <mukosoft-input
            [formControl]="formGroup.controls.amount"
            ngDefaultControl
          ></mukosoft-input>
        </ion-col>
        <ion-col class="p-0 ml-1">
          <mukosoft-label>Dosierform</mukosoft-label>
          <ion-select
            class="border rounded-md"
            [formControl]="formGroup.controls.medicationForm"
          >
            <ion-select-option
              *ngFor="let form of medicationFormCodings"
              [value]="form"
              (click)="formGroup.controls.medicationForm.setValue(form)"
            >
              {{ "medication-form." + form.display | translate }}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="p-0">
          <div class="flex items-center">
            <mukosoft-label>Tägliche Einnahme</mukosoft-label>
            <ion-toggle
              color="secondary"
              [checked]="isDaily"
              (ionChange)="isDaily = !isDaily"
            ></ion-toggle>
          </div>
          <div class="flex flex-col justify-center">
            <div *ngIf="!isDaily" class="flex justify-start flex-wrap">
              <ion-chip
                *ngFor="let day of days"
                color="secondary"
                [outline]="!formGroup.controls.days.value.includes(day)"
                (click)="toggleDay(day)"
              >
                {{ "day." + day | translate }}
              </ion-chip>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="p-0">
          <mukosoft-label>Zeiten</mukosoft-label>
          <div
            class="flex items-center justify-between mb-2 rounded-md p-1 border border-1"
            *ngFor="let time of formGroup.controls.times.value"
          >
            <span class="text-xl">{{ time | date: "HH:mm":"de-DE" }} Uhr </span>
            <ion-button
              color="secondary"
              fill="clear"
              (click)="removeTime(time)"
            >
              <span class="fi fi-rr-cross"></span>
            </ion-button>
          </div>
          <mukosoft-time-picker
            class="block"
            label="Zeit wählen"
            (onConfirm)="addTime($event)"
          ></mukosoft-time-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button color="secondary" class="w-full mt-2" (click)="saveClick()"
          >Speichern</ion-button
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
