<ion-content [fullscreen]="true">
  <mukosoft-greeting-card></mukosoft-greeting-card>
  <mukosoft-news-slider [news]="news"></mukosoft-news-slider>

  <ion-title color="secondary" class="text-2xl leading-loose">
    {{ "home.medication.title" | translate }}
  </ion-title>
  <div class="mx-2">
    <mukosoft-medication-request
      *ngFor="let medicationRequest of medicationRequests$ | async"
      [medicationRequest]="medicationRequest"
      [medication]="getMedicationByReference(medicationRequest)"
    >
    </mukosoft-medication-request>
  </div>
</ion-content>
