<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row
      *ngFor="
        let medicationRequest of currentIntervalMedicationRequests$ | async
      "
    >
      <mukosoft-medication-request-item
        class="w-full"
        [medicationRequest]="medicationRequest"
        [medication]="getMedicationByReference(medicationRequest)"
        (onRemoveClick)="removeMedicationRequest($event)"
      ></mukosoft-medication-request-item>
    </ion-row>
  </ion-grid>
</ion-content>

<mukosoft-medication-fab
  (onMedicationAddClick)="medicationAddClick()"
  (onMedicationsRemoveClick)="removeAllMedications()"
></mukosoft-medication-fab>
