<ion-content [fullscreen]="true">
  <ion-searchbar
    (ionChange)="searchString =($any($event).target.value)"
  ></ion-searchbar>

  <ion-grid>
    <ion-row
      *ngFor="let medicationRequest of currentIntervalMedicationRequests$ | async"
    >
      <app-medication-request-item
        class="w-full"
        [medicationRequest]="medicationRequest"
        [medication]="getMedicationByReference(medicationRequest)"
        (onRemoveClick)="removeMedicationRequest($event)"
      ></app-medication-request-item>
    </ion-row>
  </ion-grid>
</ion-content>

<mukosoft-app-nx-medication-fab
  (onMedicationAddClick)="addMedicationMock()"
  (onMedicationsRemoveClick)="removeAllMedications()"
></mukosoft-app-nx-medication-fab>
