<ion-content [fullscreen]="true">
  <div class="mx-auto w-96 py-4">
    <ion-grid class="p-0">
      <ion-row>
        <mukosoft-user-avatar
          class="mx-auto my-8 h-36 w-36"
          [imageUpload]="true"
        ></mukosoft-user-avatar>
      </ion-row>
      <ion-row>
        <ion-grid class="p-0">
          <ion-row>
            <ion-text color="secondary" class="text-2xl"
              >{{ "settings.profile.title" | translate }}</ion-text
            >
          </ion-row>
          <ion-row>
            <ion-text color="secondary" class="text-sm"
              >{{ "settings.profile.description" | translate }}
            </ion-text>
          </ion-row>
          <ion-row>
            <div class="flex flex-col w-full my-1">
              <mukosoft-label [labelId]="nameLabel"
                >{{ "settings.profile.name" | translate }}</mukosoft-label
              >
              <mukosoft-input
                type="text"
                [labelId]="nameLabel"
                [value]="name | async"
                (onIonChange)="setNewName($event)"
              ></mukosoft-input>
            </div>
          </ion-row>
          <ion-row>
            <div class="flex flex-col w-full my-1">
              <mukosoft-label [labelId]="birthdateLabel"
                >{{ "settings.profile.birthdate" | translate }}</mukosoft-label
              >
              <mukosoft-input
                type="date"
                [labelId]="birthdateLabel"
                [value]="birthDate | async"
              ></mukosoft-input>
            </div>
          </ion-row>
        </ion-grid>
      </ion-row>
    </ion-grid>
    <ion-button color="secondary" expand="block" (click)="save()">
      <ion-icon name="save" class="mr-2"></ion-icon>
      <ion-text>{{ "settings.save" | translate }}</ion-text>
    </ion-button>
    <ion-text color="secondary" class="text-sm opacity-80 italic"
      >{{"settings.version"|translate}}: {{appVersion}}</ion-text
    >
  </div>
</ion-content>
