<ion-card *ngIf="medicationRequest" color="secondary">
  <ion-card-content>
    <app-medication [medication]="medication"></app-medication>
    <ng-container
      *ngFor="let dosageInstruction of medicationRequest.dosageInstruction"
    >
      <article class="text-md">
        {{ dosageInstruction.timing.repeat.frequency }}x aller
        {{ dosageInstruction.timing.repeat.period
        }}{{ dosageInstruction.timing.repeat.periodUnit }}
      </article>
    </ng-container>
  </ion-card-content>
</ion-card>
